---
- name: Ensure project directory exists
  file:
    path: "{{ project_root }}"
    state: directory

- name: Copy Kubernetes manifests to remote
  copy:
    src: "{{ playbook_dir }}/../k8s/"
    dest: "{{ project_root }}/k8s/"

- name: Apply Kubernetes manifests
  command: "kubectl apply --validate=false -f {{ project_root }}/k8s/"
  environment:
    KUBECONFIG: "{{ kubeconfig | default(omit) }}"
